/*
input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	border-radius: 5px;
	background: #eee;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
  }
  
  input[type="range"]:hover {
	opacity: 1;
  }


input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 23px;
	height: 24px;
	border: 0;
	border-radius: 50%;
	background-image: url("./emojispics/emojis/Smile1.jpg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
  }
  
  input[type="range"]::-moz-range-thumb {
	width: 23px;
	height: 24px;
	border: 0;
	border-radius: 50%;
	background-image: url("./emojispics/emojis/Smile1.jpg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	background: #daa521;
	cursor: pointer;
  }
   ------------------------------ completed code ---------------------------
   input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
 
  background: #eee;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-image: url("/feedback/emojisfolder/projectEmojis/Smile2.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background: pink;
  margin-top: -4px;
}


*/

input[type="range"] {
  -webkit-appearance: none;
  /* width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #eee;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s; */
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background-color: grey;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("../emojisfolder/projectEmojis/Smile2.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -10px;
}

input[type="range"].emoji_0::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("../emojisfolder/projectEmojis/Smile1.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -10px;
}

input[type="range"].emoji_2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("../emojisfolder/projectEmojis/Smile3.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -10px;
}

input[type="range"].emoji_3::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("../emojisfolder/projectEmojis/Smile4.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -10px;
}

input[type="range"].emoji_4::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("../emojisfolder/projectEmojis/Smile5.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  /* background: yellow; */
  cursor: pointer;
  margin-top: -10px;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url("../emojisfolder/projectEmojis/Smile2.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background: yellow;
  margin-top: -10px;
}
input[type="range"].emoji_0::-moz-range-thumb {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url("../emojisfolder/projectEmojis/Smile2.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background: yellow;
  margin-top: -10px;
}

input[type="range"].emoji_2::-moz-range-thumb {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url("../emojisfolder/projectEmojis/Smile3.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background: yellow;
  margin-top: -10px;
}

input[type="range"].emoji_3::-moz-range-thumb {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url("../emojisfolder/projectEmojis/Smile4.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background: yellow;
  margin-top: -10px;
}

input[type="range"].emoji_4::-moz-range-thumb {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url("../emojisfolder/projectEmojis/Smile5.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background: yellow;
  margin-top: -10px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

/*



input[type="range"]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-image: url("/feedback/emojisfolder/projectEmojis/Smile2.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background: yellow;
  margin-top: -4px;
}


*/
